

<div class="row-fluid">
  <div id= "navbar"></div>
  <div id="content"></div> 
</div>

  <%- User.omniauth_providers.each do |provider| %>
    <% unless current_user.authentications.map(&:provider).include?(provider.to_s) %> 
      <%= link_to "Connect your #{provider.to_s.titleize}", omniauth_authorize_path(current_user, provider) %><br />
    <% end %> 
  <% end -%>



<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
<script type="text/javascript">


  $(function () {

    var feedsData = <%= Feed.all.to_json.html_safe %>;
    var entriesData = <%= current_user.entries.to_json.html_safe %>;
     var followingsData = <%= current_user.followings.to_json.html_safe %>; 
     var articlesData = <%= current_user.news_feed_articles.to_json.html_safe %>;
     var readingListData = <%= current_user.reading_list_items.to_json.html_safe %> 
    // var followingsData = {};
    
    window.username =  "<%= current_user.name %>";


    window.FR.initialize(
      $("#content"),
      feedsData,
      entriesData,
      followingsData,
      articlesData,
      readingListData,
      $("#navbar"),
      "<%= current_user.name %>"
    );
    window.user_id = <%= current_user.id %>;
  });

</script>
