<ul>
	<% articles.each( function(article) { %>
		<li> 
			<div> <a href="<%=article.escape('url') %>"> 
				 <%= article.escape('title') %> </a> 
			<strong> <div> <small> <small> <%= "Posted by: " + article.escape('name') %> </small> </small> </div> </strong>
				<div> <img src="<%= article.escape('image_url')%>" width='120' height='120'> <div>
			</div>
			 <%= article.escape('text') %> 
			 <br>
			 <% score_criteria = jQuery.parseJSON(article.get('score_criteria')) %>  
			 <% if(article.escape('type') === "TwitterArticle") {  %>
				<small> <%= "Favorites: " + score_criteria.favorites + "," %> </small> 
				<small> <%= "Retweets: " + score_criteria.retweet  %> </small>
			 <% } else { %> 
				<small> <%= "Likes: " + score_criteria.like_count + "," %> </small> 
				<small> <%= "Comments: " + score_criteria.comment_count  %> </small>
 			 <% } %> 
			<small><div> <%= article.escape('description') %> </div></small>
		</li>  	
		<br>
		<br>

	<% }); %> 

</ul>

