<a href="javascript:

  console.log('loaded');
  var iframe = document.createElement('iframe');
  iframe.src = 'http://localhost:3000/test_bookmarklets?url=' + document.location;
  iframe.style = 'z-index: 2147483000';
  document.getElementsByTagName('body')[0].appendChild(iframe);  

">my link</a>
<% articles.each( function(article) { %>
<div class="span8 offset2 panel">
    <div class="span4 left-side"> 
      <div class="news_feed">
        <div class="social_img"> <img class="news_feed" src="<%= article.escape('image_url')%>"> </div>
        <div>
        </div>
      </div>
    </div>

    <div class="span8 right-side">
     <div class="post">
      <div> <a class="title-post" href="<%=article.escape('url') %>"> 
       <%= article.escape('title') %> </a> 
     </div>
      <div class="postname"> <%= "Posted by: " + article.escape('name') %> </div> 
      <div class="posttext"> <%= article.escape('text') %> </div> 
      <img src='/fb_button.png' class="share-facebook" data-fb=<%=article.escape('id')%> >
      <img src='/tweet.png' class="share-twitter" data-twt=<%=article.escape('id')%>>
      <button class="add-reading-list readingpost" data-article-id="<%=article.get('link_id')%>" data-type="<%=article.get('type')%>">
        <%= FR.Store.ReadingList.where({article_id: parseInt(article.escape('link_id')), article_type: article.escape('type')}).length > 0 ? "On Reading List" : "Add Reading List" %>
      </button>
      <div class="score_criteria">
        <% score_criteria = jQuery.parseJSON(article.get('score_criteria')) %>  
        <% if(article.escape('article_type') === "TwitterArticle" || article.escape('type') === "TwitterArticle" ) {  %>
        <%= "Favorites: " + score_criteria.favorites + "," %>  
        <%= "Retweets: " + score_criteria.retweet  %> 
        <% } else { %> 
        <%= "Likes: " + score_criteria.like_count + "," %> 
        <%= "Comments: " + score_criteria.comment_count  %>
        <% } %> 
      </div>
    </div>
  </div>
</div>

<% }); %> 
