      <div class="text-content">
        <div class="content-title">
          <a class="title" href=<%=entry.escape('url') %>> 
          <%= entry.escape('title') %> </a>
        </div> 
        <div class="content-share">   
          <img src='/fb_button.png' class="share-facebook" data-fb=<%=entry.escape('id')%> >
          <img src='/tweet.png' class="share-twitter" data-twt=<%=entry.escape('id')%>>
          <button class="add-reading-list" data-article-id="<%=entry.get('id')%>" data-type="follower">
          <%= FR.Store.ReadingList.where({article_id: parseInt(entry.escape('id')), article_type: "follower"}).length > 0 ? "On Reading List" : "Add Reading List" %>
          </button>   
          <br class="clearfix" />
        </div>
        <strong> <%= entry.escape('post') %> </strong>
      </div>
      <img src="<%= entry.escape('image') %>" class="content-image">
