 <div class="image">
 	<div class="row-fluid">
	 	<div class="span12 wrapper">
				 The easiest way to share and discover news
		</div>
	</div>
	<div class="row-fluid">
	 	<div class="span8 offset2 outer-container">

		 	<div class="span6 offset3 registration login-form">
				<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
				  <div><%= f.email_field :email, :placeholder => "Email" %></div>

				  <div><%= f.password_field :password, :placeholder => "Password" %></div>

				  	<div><%= f.submit "Sign in", :class => "sign-in-button" %></div>
				<% end %> 

				<%- if devise_mapping.omniauthable? %>
				  <%- resource_class.omniauth_providers.each do |provider| %>
				  	<% image = "connect_twitter.png" if provider.to_s.titleize=="Twitter" %>
				  	<% image = "connect_facebook.png" if provider.to_s.titleize=="Facebook" %>
				    <%= link_to image_tag(image, :class => "social_sign_in #{provider}_sign"), omniauth_authorize_path(resource_name, provider) %> 
				  <% end -%>
				<% end -%>

				<div class='transition'> Not Signed Up? Start Reading Easier Today! </div>

				<%- if devise_mapping.registerable? && controller_name != 'registrations' %>
				  <%= link_to "Sign up Now!", new_registration_path(resource_name), :class => "sign-up-button" %><br />
				<% end -%>


			</div>
		</div>
	</div>
</div>

<!-- <div class="overlay span12"></div> -->


	<style>
		@import url(http://fonts.googleapis.com/css?family=Open+Sans:700,400);
		* {
			margin: 0;
			padding: 0;
		}

		.nav {
			background: white;
			border-bottom: 1px solid #ccc;
			height: 60px;
		}

		.nav h1 {
		}

		.image {
			height: 1000px;
			/*background: url("http://wallpapersfor.me/wp-content/uploads/2012/02/city-hazy-blurred-unsharp-night-rain-1920x1080.jpg") 
				no-repeat;*/
			background-size: cover;
			margin-left: 0px;  			 
			overflow-y:auto;
			width: 100%;
			background-color: #3498DB;

		}

	/*	.overlay {
			height: 100%;
			width: 100%;
			background-position: -50px -50px;
			background: #3498DB;
			opacity: .8;
			margin-left: 0;
		}*/

		.btn {
			z-index: 214748000;
			opacity: 1;
			background-color: #2C3E50;
			left:1400px;
			top:450px;
		}

		.wrapper{
			/*left: 75px;*/
			/*margin-top: 75px;*/
			color: white;
			font-size: 70px;
			font-family: 'Open Sans', sans-serif;
			padding-left: 10px;
			padding-right: 10px;
			padding-top: 50px;
			/*text-align: center;*/
			font-weight: bold;
			height: 150px;
			display: block;
			width: 100%;
			text-align: center;
				
		}

		.body {
			height: 100%;
		}

		.btn-block{
			width: 200px;
			height: 35px;
			text-align: center;
			padding-top: 7px;
			vertical-align: text-center;
			float: right;
		}
	</style>

